/*@font-face{
    font-family: 'Raleway', sans-serif;

    font-weight: medium;
}*/


/*font settings*/

h1 {
    font-family: 'Abel', sans-serif;
    font-size: 70px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
}

/*buttons*/

.col-xs-3 {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.col-xs-3 .col-xs-12 {
    padding-bottom: 8px;
}

/*Screen*/
#screen {
    border-style: solid;
}